<div class="AfricaCams" style="margin: 40px 20px">
  <h2 class="categoryTitle">Africa Cams</h2>
  <hr style="border-top: 1px solid #666666ff" />
  <div class="categorySlides swiper">
    <div class="swiper-wrapper">
      <!-- Slides -->
      {{#each this}}
      <div class="swiper-slide">
        <a href="/video/{{video.id}}">
          <img
            class="videoThumbnail"
            src="{{video.thumbnail}}"
            alt="{{video.altText}}"
          />
        </a>
        <p class="videoInfo">
          {{video.Title}} <br />
          <span style="color: gray">{{video.Source}}</span>
        </p>
      </div>
      {{/each}}
    </div>

    <!-- navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>