<!-- FOR EACH CATEGORY, CREATE A CAROUSEL -->
{{#each categories as |category|}}
<div style="margin: 40px 20px">
  <a href="/category/{{id}}" class="categoryTitle">{{title}}</a>
  <hr style="border-top: 1px solid #666666ff" />
  <div class="categorySlides swiper">
    <div class="swiper-wrapper">
      <!-- FOR EACH CATEGORY, CREATE A SLIDE PER VIDEO IN THE DATABASE -->
      <!-- SLIDES CONTAIN THE VIDEO NAME, ID, THUMBNAIL IMAGE PATH, AND SOURCE, AND TITLE -->
      <!-- Slides -->
      {{#each this.video}}
      <div class="swiper-slide">
        <a href="/video/{{video.id}}">
          <img
            class="videoThumbnail"
            src="{{video.thumbnail}}"
            alt="{{video.altText}}"
          />
        </a>
        <p class="videoInfo">
          {{video.Title}} <br />
          <span style="color: gray">{{video.Source}}</span>
        </p>
      </div>
      {{/each}}
    </div>

    <!-- navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
{{/each}}