<div style="margin: 0px 20px 20px 40px">
  <a href="/category/live" class="categoryTitle">Live Cams</a>
  <hr style="border-top: 1px solid #666666ff" />
  <div class="categorySlides swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
       {{#each this}}
      <div class="swiper-slide">
        <a href="/video/{{video.id}}">
          <img
            class="videoThumbnail"
            src="{{video.image}}"
            alt="{{video.altText}}"
          />
        </a>
        <p class="videoInfo">
          {{video.Title}} <br />
          <span style="color: gray">{{video.Source}}</span>
        </p>
      </div> 
       {{/each}}
    </div>
    <!-- navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>