<nav>
  <div class="nav-Title">
    <h3 class="text-light ">Zoolander</h3>
  </div>
  <div class="float-right" style="padding-right: 40px;">
    <ul>
      <li>
        <a href="/homepage" class="text-light">Home</a>
      </li>
      <li>
        <a href="/dashboard" class="text-light">Favorites</a>
      </li>
      <li>
        <a href="/inProgress" class="text-light">Donate</a>
      </li>
      <li>
        <a href="/inProgress" class="text-light">Shop</a>
      </li>
      <li>
        <button id="logout" style="background-color: transparent; border-style: none; color: white" class="btn-no-style">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<!-- SEARCH FOR THE CATEGORY AND JOIN VIDEO TABLE THROUGH FOREIGN KEY? -->

<section style="background-color: #111112">
  <div style="
  width: 100%;
  height: 300px;
  background-size: cover;
  background-image: url({{category.imagePath}});
  ">
    <div class="container">
      <div
        class="row d-flex justify-content-center"
        style="padding-top: 50px"
      >
        <h1 class="col-12 category_Title" style="color: white"> {{category.title}}</h1>
        <p class="category_page_description col-8">
          {{category.description}}
        </p>
      </div>
    </div>
  </div>
  <h2 class="category_sub_title">Watch Now</h2>
  <hr style="border-top: 1px solid #666666ff" />
  <div class="container">
    <div class="row d-flex justify-content-between">

      <!-- FOR EACH VIDEO, CREATE A VIDEO-CARD WITH THUMBNAIL AND ID -->
      {{#each category.videos}}
      <div id="category-video-card" class="col-lg-4 p-3">
        <a href="/video/{{id}}">
        <img
          src="{{thumbnail}}"
          class="col-12 p-3"
          style="border-radius: 25px"
        />
        </a>
      </div>
      {{/each}}

    </div>
  </div>
</section>

<script src="/javascript/logout.js"></script>

<footer>
  <span style="color: #d7d4d4b4">Thanks for visiting!</span> © Zoolander
  Virtual Zoo For Kids Who Can't Travel Alone Good And Who Wanna Learn About
  Cool Animals And Other Stuff Too
</footer>