<div class="text-center text-white b0dy">
  <div class="container p-3 mx-auto flex-column">
    <header class="mb-4">
      <div class="navbar rounded">
        <h3 class="mb-0 float-left">Zoolander</h3>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/homepage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">Support</a>
          </li>
          <li class="nav-item">
            <button
              id="logout"
              style="background-color: transparent; border-style: none"
              class="btn-no-style nav-link text-primary"
            >Logout</button>
          </li>
        </ul>
      </div>
    </header>

    <!-- VIDEO DISPLAY -->
    <section class="px-3">
      <div class="figure float-left">
        <div>
          <iframe
            class="figure-img img-fluid rounded"
            src="{{video.path}}"
            style="height: 50vh; width: 50vw;"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-12 d-flex justify-content-start">
          <button
            id="favorite_Button"
            style="margin-right: 40px; 
                        color: white; 
                        background-color: transparent; 
                        border-style: none;"
          >
            <i id="fav-btn" class="fa-solid fa-heart fa-xl"></i>
          </button>
          <figcaption class="figure-caption">{{video.description}}</figcaption>
        </div>
      </div>

      <!-- COMMENT DISPLAY -->
      <div class="float-right comments">
        <p class="float-left">Leave a Comment:</p>
        <form class="comment-form">
          <textarea
            name="comment-body"
            class="form-control"
            placeholder="Say 'hi' to the animals!"
          ></textarea>
          {{! <input> }}
          <button class="btn btn-outline-secondary col-12 mt-3">post</button>
        </form>
      </div>

      <div class="float-right comments" style="margin-top: 30px;">
        <p style="font-size: 15px;">All Comments</p>
        <hr style="border-top: 1px solid #2f3030;" />

        {{#each video.comments}}
          <div>
            <p style="font-size: 20px">"{{comment_text}}"</p>
            <p style="font-size: 13px; margin-top: 0px; text-align:left">
              -
              {{user.username}}
              <br />
              <span style="color: #b5b5b5; font-size: 10px">Created at:
                {{created_at}}</span>
            </p>
          </div>
        {{/each}}

      </div>
    </section>
  </div>
</div>

<script src="/javascript/logout.js"></script>

<footer>
  <span style="color: #d7d4d4b4">Thanks for visiting!</span>
  © Zoolander Virtual Zoo For Kids Who Can't Travel Alone Good And Who Wanna
  Learn About Cool Animals And Other Stuff Too
</footer>

<script src="/javascript/comment.js"></script>
<script src="/javascript/fav.js"></script>